<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhx7BGz4l0HnU0EqyieiYAaPLZ8pcW1F0</string>
	<key>GCM_SENDER_ID</key>
	<string>445967960597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.packagebreakfast</string>
	<key>PROJECT_ID</key>
	<string>packagebreakfast</string>
	<key>STORAGE_BUCKET</key>
	<string>packagebreakfast.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445967960597:ios:1b6f84c95b4608f9d51c1c</string>
</dict>
</plist>